* {
 margin: 0;
 padding:0;
}
.gridContainer {
 display: grid;
 grid-template-columns: 200px 1fr;
 grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr ;
 height: 100vh;

}
.header{
 text-align: center;
 background: #98ff98;
 border: 1px solid black;
 color: #9898ff;
 padding: 10px;
 grid-column: 1/3;
}
.mainContent{
 grid-column: 2;
 grid-row: 2/auto;
 border-left: 1px solid black;
}
.sideContent{
 grid-column: 1;
 grid-row: 2/auto;
 background: #ff98ff;
}
.sideMoviePoster {
    height: 100px;
    width: 100px;
}